.turbo

node_modules/*
.next
*/**/node_modules/*
# 任意子包/示例下的 node_modules（pnpm 本地 link 等）
**/node_modules/

example/*
.vercel
.pnpm-store

.DS_Store
packages/react-native/dist/*
packages/core/lib/*
packages/web/dist/core/*
packages/web/dist/eslint/*
packages/web/dist/dev-tools/*
